# wiiuse dependencies

git /dependencies/wiiuse		https://github.com/OpenEngineDK/dependencies-wiiuse.git

git-dev /dependencies/wiiuse 		git@github.com:OpenEngineDK/dependencies-wiiuse.git

win32 /dependencies/wiiuse 		http://www.openengine.dk/data/dependencies/wiiuse_v0.12_src.tar.gz
linux /dependencies/wiiuse 		http://www.openengine.dk/data/dependencies/wiiuse_v0.12_src.tar.gz
